<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Spectrecoin</Name>
    <Version>1.0.0</Version>
    <Title>Spectrecoin</Title>
    <Publisher>The Spectrecoin Team</Publisher>
    <StartMenuDir>Spectrecoin</StartMenuDir>
    <ProductUrl>https://spectreproject.io/</ProductUrl>
    <InstallerApplicationIcon>spectrecoin</InstallerApplicationIcon>
    <InstallerWindowIcon>spectrecoin-40.png</InstallerWindowIcon>
    <Banner>installer_banner.png</Banner>
    <TargetDir>@HomeDir@/Spectrecoin</TargetDir>
    <WizardStyle>Modern</WizardStyle>
    <RemoteRepositories>
        <Repository>
            <Url>http://download.spectreproject.io/repository/</Url>
            <Enabled>1</Enabled>
            <DisplayName>Spectrecoin repository</DisplayName>
        </Repository>
    </RemoteRepositories>
    <MaintenanceToolName>Spectrecoin-Maintenance</MaintenanceToolName>
    <RunProgram>@TargetDir@/Spectrecoin.exe</RunProgram>
</Installer>